<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="box">
            <div class="box-header text-center">
                <h4>{{langs.button_info}}</h4>
            </div>
            
            <div class="box-body table-responsive no-padding">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{ langs.button_icon }}</th>
                            <th>{{ langs.button_desc }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <!-- 查找 -->
                        <tr>
                            <td> <button class="btn btn-primary btn-sm""><i class="fa fa-search"></i></button> </td>
                            <td>{{langs.button_search_desc}}</td>
                        </tr>
                        <!-- 打印 -->
                        <tr>
                            <td> <button class="btn btn-primary btn-sm""><i class="fa fa-print"></i></button> </td>
                            <td>{{langs.button_print_desc}}</td>
                        </tr>
                        <!-- 下载 -->
                        <tr>
                            <td> <button class="btn btn-primary btn-sm""><i class="fa fa-download"></i></button> </td>
                            <td>{{langs.button_download_desc}}</td>
                        </tr>
                        
                        <!-- 管理 -->
                        <tr>
                            <td> <button class="btn btn-primary btn-sm""><i class="fa fa-wrench"></i></button> </td>
                            <td>{{langs.button_manager_desc}}</td>
                        </tr>
                        <!-- 复制新增 -->
                        <tr>
                            <td> <button class="btn btn-success btn-sm""><i class="fa fa-clone"></i></button> </td>
                            <td>{{langs.button_clone_add}}</td>
                        </tr>
                        <!-- 添加 -->
                        <tr>
                            <td> <button class="btn btn-success btn-sm""><i class="fa fa-plus"></i></button> </td>
                            <td>{{langs.button_add_desc}}</td>
                        </tr>
                        <!-- 修改 -->
                        <tr>
                            <td> <button class="btn btn-warning btn-sm""><i class="fa fa-pencil-square-o"></i></button> </td>
                            <td>{{langs.button_mod_desc}}</td>
                        </tr>
                        <!-- 删除 -->
                        <tr>
                            <td> <button class="btn btn-danger btn-sm""><i class="fa fa-times"></i></button> </td>
                            <td>{{langs.button_del_desc}}</td>
                        </tr>
                        
                        <!-- 保存 -->
                        <tr>
                            <td> <button class="btn btn-success btn-sm""><i class="fa fa-save"></i></button> </td>
                            <td>{{langs.button_save_desc}}</td>
                        </tr>
                        <!-- 取消 -->
                        <tr>
                            <td> <button class="btn btn-default btn-sm""><i class="fa fa-times"></i></button> </td>
                            <td>{{langs.button_cancel_desc}}</td>
                        </tr>
                        
                        <!-- 首页 -->
                        <tr>
                            <td> <button class="btn btn-default btn-sm""><i class="fa fa-angle-double-left"></i></button> </td>
                            <td>{{langs.button_first_desc}}</td>
                        </tr>
                        <!-- 尾页 -->
                        <tr>
                            <td> <button class="btn btn-default btn-sm""><i class="fa fa-angle-double-right"></i></button> </td>
                            <td>{{langs.button_last_desc}}</td>
                        </tr>
                        <!-- 跳转 -->
                        <tr>
                            <td> <button class="btn btn-info btn-sm""><i class="fa fa-arrow-right"></i></button> </td>
                            <td>{{langs.button_jump_desc}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>